<div class="jumbotron front-page-jumbotron">
  <h1 class="front-page-jumbotron-title"><i class="fa fa-leaf" aria-hidden="true"></i> ResuMix</h1>
  <p class="front-page-jumbotron-subtitle">Mix and match your resume details to build the perfect resume for the job!</p>
  <div class="text-center">
    <%= link_to "Sign Up For Free!", new_user_registration_path, class: 'btn sign-up-button btn-lg'%>
  </div>
</div>
<div class="front-page-section-two">
<%= image_tag "fpimage.jpg", class: "img-responsive" %>
</div>
<div class="front-page-section-three">
</div>
