<div class = "panel panel-default">
  <div class = "panel-heading">
    <h4 class = "panel-title">
      <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseTwo">
        Detail Snippets
      </a>
    </h4>
  </div>

  <div id = "collapseTwo" class = "panel-collapse collapse">
    <div class="add_new_button">
      <%= link_to 'Add new Detail', new_detail_path, class: "btn btn-block btn-info" %>
    </div>
    <div class="panel-body" id="details">
      <% @details.each do |detail| %>
        <%= render 'snippets/snippet/detail', detail: detail %>
      <% end %>
    </div>
  </div>

</div>
