<div class = "panel panel-default">
  <div class = "panel-heading">
    <h4 class = "panel-title">
      <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseSix">
        Language Snippets
      </a>
    </h4>
  </div>

  <div id = "collapseSix" class = "panel-collapse collapse">
    <div class="add_new_button">
      <%= link_to 'Add new Language', new_language_path, class: "btn btn-block btn-info" %>
    </div>
    <div class="panel-body" id="languages">
      <% @languages.each do |language| %>
        <%= render 'snippets/snippet/language', language: language %>
      <% end %>
    </div>
  </div>

</div>
