<div class = "panel panel-default">
  <div class = "panel-heading">
    <h4 class = "panel-title">
      <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseEight">
        Reference Snippets
      </a>
    </h4>
  </div>

  <div id = "collapseEight" class = "panel-collapse collapse">
    <div class="add_new_button">
      <%= link_to 'Add new Reference', new_endorsement_path, class: "btn btn-block btn-info" %>
    </div>
    <div class="panel-body" id="references">
      <% @endorsements.each do |endorsement| %>
        <%= render 'snippets/snippet/reference', endorsement: endorsement %>
      <% end %>
    </div>
  </div>

</div>
