<h1>Hi, I'm a <%= @snippet.type %>.</h1>
<p>My name is <%= @snippet.name %></p>
<p>My properties are:<br>
    <% @snippet.properties.to_hash.each do |k, v| %>
    <%= "#{k.to_s.titleize}: #{v}" %>
    <br>
    <% end %>
</p>
<%= link_to 'Back to snippets', snippets_url %>
