<div class = "panel panel-default">
  <div class = "panel-heading">
    <h4 class = "panel-title">
      <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseOne">
        Accomplishment Snippets
      </a>
    </h4>
  </div>

  <div id = "collapseOne" class = "panel-collapse collapse">
    <div class="add_new_button">
      <%= link_to 'Add new Accomplishment', new_accomplishment_path, class: "btn btn-block btn-info" %>
    </div>
    <div class="panel-body">
      <% @accomplishments.each do |accomplishment| %>
        <%= render 'snippets/snippet/accomplishment', accomplishment: accomplishment %>
      <% end %>
    </div>
  </div>

</div>
