<div class = "panel panel-default">
  <div class = "panel-heading">
    <h4 class = "panel-title">
      <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseFive">
        Interest Snippets
      </a>
    </h4>
  </div>

  <div id = "collapseFive" class = "panel-collapse collapse">
    <div class="add_new_button">
      <%= link_to 'Add new Interest', new_interest_path, class: "btn btn-block btn-info" %>
    </div>
    <div class="panel-body">
      <% @interests.each do |interest| %>
        <%= render 'snippets/snippet/interest', interest: interest %>
      <% end %>
    </div>
  </div>

</div>
