<div class = "panel panel-default">
  <div class = "panel-heading">
    <h4 class = "panel-title">
      <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseSeven">
        Other Snippets
      </a>
    </h4>
  </div>

  <div id = "collapseSeven" class = "panel-collapse collapse">
    <div class="add_new_button">
      <%= link_to 'Add new Other', new_other_path, class: "btn btn-block btn-info" %>
    </div>
    <div class="panel-body">
      <% @others.each do |other| %>
        <%= render 'snippets/snippet/other', other: other %>
      <% end %>
    </div>
  </div>

</div>
