<div class = "panel panel-default">
  <div class = "panel-heading">
    <h4 class = "panel-title">
      <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseNine">
        Skill Snippets
      </a>
    </h4>
  </div>

  <div id = "collapseNine" class = "panel-collapse collapse">
    <div class="add_new_button">
      <%= link_to 'Add new Skill', new_skill_path, class: "btn btn-block btn-info" %>
    </div>
    <div class="panel-body">
      <% @skills.each do |skill| %>
        <%= render 'snippets/snippet/skill', skill: skill %>
      <% end %>
    </div>
  </div>

</div>
