@import "bootstrap/variables";
@import "bootstrap/mixins";

@include make-grid(sm);
@include make-grid(md);
@include make-grid(lg);

#resume-section-title {
  font-size: 1.8em;
  padding-top: 15px;
  color: #3d85c6;
  padding-left: 20px;
  width: 230px;
}

.resume-end-of-section-block {
  padding-top: 10px;
}

.resume-detail {
  text-align: center;
}

#resume-details-name {
  font-size: 2.5em;
  font-weight: bold;
  color: #3d85c6;
}

#resume-details-address {
  display: inline;
  font-weight: 600;
  color: #3d85c6;
}

#resume-details-address2 {
  display: inline;
  font-weight: 600;
  color: #3d85c6;
}

#resume-details-zipcode {
  display: inline;
  color: #3d85c6;
}

#resume-details-phone {
  display: inline;
  color: #3d85c6;
}

#resume-details-email {
  display: inline;
  padding-left: 10px;
  color: #3d85c6;
}

#resume-details-linkedin {
  font-size: 0.9em;
  color: #3d85c6;
}

#resume-details-github {
  font-size: 0.9em;
  color: #3d85c6;
}

#resume-summary-description {
}

#resume-experience-title {
  font-size: 1.1em;
  font-weight: 600;
  display: inline;
  color: #3d85c6;
}

#resume-experience-organization {
  font-size: 1.1em;
  display: inline;
  color: #3d85c6;
}

#resume-experience-location {
  font-size: 1.1em;
  display: inline;
  font-style: italic;
  padding-left: 5px;
}

#resume-experience-start-date {
  display: inline;
  font-size: 0.9em;
}

#resume-experience-end-date {
  display: inline;
  font-size: 0.9em;
}

#resume-education-title {
  font-size: 1.1em;
  font-weight: 600;
  color: #3d85c6;
  display: inline;
}

#resume-education-institution {
  font-size: 1.1em;
  color: #3d85c6;
  display: inline;
}

#resume-education-location {
  font-size: 1.1em;
  display: inline;
  font-style: italic;
  padding-left: 5px;
}

#resume-education-start-date {
  display: inline;
  font-size: 0.9em;
}

#resume-education-end-date {
  display: inline;
  font-size: 0.9em;
}

#resume-skill-skill {
  font-size: 1.1em;
  font-weight: 600;
  display: inline;
}

#resume-skill-level {
  font-size: 1.1em;
  display: inline;
}

#resume-skill-description {
  font-size: 0.9em;
}

#resume-language-language {
  font-size: 1.1em;
  font-weight: 600;
  display: inline;
}

#resume-language-level {
  font-size: 1.1em;
  display: inline;
}

#resume-accomplishment-accomplishment {
  font-size: 1.1em;
  font-weight: 600;
  display: inline;
}

#resume-accomplishment-description {
  font-size: 0.9em;
}

#resume-interest-interest {
  font-size: 1.1em;
  font-weight: 600;
  display: inline;
}

#resume-interest-description {
  font-size: 0.9em;
}

#resume-other-title {
  font-size: 1.1em;
  font-weight: 600;
}

#resume-other-custom {
  font-size: 0.9em;
}

#resume-other-custom2 {
  font-size: 0.9em;
}

#resume-other-start-date {
  display: inline;
  font-size: 0.9em;
}

#resume-other-end-date {
  display: inline;
  font-size: 0.9em;
}

#resume-reference-fullname {
  font-size: 1.1em;
  font-weight: 600;
  display: inline;
}

#resume-reference-position {
  font-size: 1.1em;
  display: inline;
}

#resume-reference-company {
  font-size: 1.1em;
  font-style: italic;
  display: inline;
}

#resume-reference-phone {
  display: inline;
}

#resume-reference-email {
  display: inline;
  padding-left: 10px;
}
